/** @format */

.navbar-nav a {
	transition: 500ms;
}

.navbar-nav a:hover {
	border-color: #007bff !important;
	border-bottom: 3px solid #007bff !important;
	box-sizing: border-box;
}

.navbar-nav a:active {
	border-color: #007bff !important;
	border-bottom: 3px solid #007bff !important;
	box-sizing: border-box;
}

.navbar-nav a:hover i {
	color: #007bff !important;
}

.card-footer button:hover,
.card-footer a:hover {
	background-color: rgb(247, 247, 247);
}

#fotoButton:hover {
	color: white !important;
	background-color: #007bff;
}
